@using Models
@model ActivityViewModel

<div class="card">
    <h5 class="card-header"><span style="background-color: var(--bs-card-cap-bg);">@Localizer["Activity Info"]</span><br></h5>
    <div class="card-body">
        <input type="hidden" asp-for="@Model.Id" name="Id" />
        <partial name="_EditActivityDetails" model="Model" />        
    </div>
</div>

<br /><partial name="_UnitActivityList" model="Model" />