@using Models
@model TagsViewModel

<div class="card">
    <h5 class="card-header"><span class="card-header-custom">@Localizer["Tags"]</span><br></h5>
    <div class="card-body">
        <input type="hidden" asp-for="@Model.Id" name="Id" />
        <partial name="_EditTagsDetails" model="Model" />        
    </div>
</div>

<br /><partial name="_TaskTagList" model="Model" />