@model ProjectNamePlaceHolder.Application.Models.MainModulePlaceHolder.MainModulePlaceHolderModel
@using ProjectNamePlaceHolder.Web.Pages.MainModulePlaceHolder
<div class="row panel-container">
    <div class="col-md-12">
        <div class="form-group">
            @Html.DisplayLabelWithRequiredTag(model => Model.Code, "control-label small")
            <input asp-for="Code" class="form-control form-control-sm" disabled />
            <span asp-validation-for="Code" class="text-danger small"></span>
        </div>
        <div class="form-group">
            @Html.DisplayLabelWithRequiredTag(model => Model.Name, "control-label small")
            <input asp-for="Name" class="form-control form-control-sm" disabled />
            <span asp-validation-for="Name" class="text-danger small"></span>
        </div>
    </div>
</div>

<script type="text/javascript">
   
</script>