@using Models
@model TaskMasterViewModel

<div class="card">
    <h5 class="card-header"><span class="card-header-custom">@Localizer["Task"]</span><br></h5>
    <div class="card-body">
        <input type="hidden" asp-for="@Model.Id" name="Id" />
        <partial name="_EditTaskMasterDetails" model="Model" />        
    </div>
</div>

<br /><partial name="_TaskCompanyAssignmentList" model="Model" />
<br /><partial name="_TaskTagList" model="Model" />