@page
@model IndexModel

@{
    ViewData["Title"] = Model.Report.ReportName;
    ViewData["ActiveMainPage"] = CTI.DPI.Application.Helpers.StringHelper.Sanitize(Model?.Report?.ReportName);
    ViewData["Level1"] = "Report";
}
@section Styles {
    <partial name="_DataTableStyles" />
}
<div class="row">
    <div class="col">
        <div class="card">
            <h5 class="card-header text-center"><span class="card-header-custom">@Model!.Report.ReportName</span><br></h5>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2">
                    <span>Parameter Here</span>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12">        
        <div class="card">            
            <div class="card-body">
                @if (Model!.Report.ReportOrChartType == CTI.DPI.Core.Constants.ReportChartType.Table)
                {
                    <table id="report" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
                    </table>
                }
                else if (Model.Report.ReportOrChartType == CTI.DPI.Core.Constants.ReportChartType.Pie)
                {
                    <canvas id="report" class="pie-graph-canvas"></canvas>
                }
                else
                {
                    <canvas id="report" class="pie-graph-canvas"></canvas>
                }
            </div>
        </div>
    </div>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
<br />
@section Scripts {
    <partial name="_ChartBuilderScripts" />
    <script asp-add-nonce>
        $(document).ready(function () {
            function InitializeForm() {
                $.BuildChart('report', '@Model!.Report.ReportName', '@Model.Report.ReportOrChartType',
                    @Html.Raw(Model.Report.Labels), @Html.Raw(Model.Report.Results), @Html.Raw(Model.Report.Colors));
            }
            InitializeForm();
        });
    </script>
}
