@page
@model CTI.DPI.Web.Areas.DPI.Pages.Report.IndexModel
@{
    ViewData["Title"] = Localizer["Report Name Here"];
    ViewData["ActiveMainPage"] = "Report";
    ViewData["Level1"] = "Report";
}
<h1>Report</h1>