@page
@model Template.Web.Pages.Template.DetailsModel

@{
    ViewData["Title"] = @Resource.LabelDetailsTemplate;
}

<form method="get">
    <div class="row toolbar-container">
        <div class="btn-toolbar mb-1 col-12" role="toolbar">
            <div class="input-group input-group-sm">
                <div class="input-group input-group-sm" data-toggle="tooltip" data-placement="top" title="@Resource.LabelBackToList">
                    <a asp-page="./Index" class="input-group-text custom-anchor-button">
                        <i class="fas fa-backspace"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="" style="margin-top:5px;">
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger small alert-dismissible fade show" role="alert">
            <span>@TempData["Error"] </span>
        </div>
    }
    else if (TempData["Success"] != null)
    {
        <div class="alert alert-info small alert-dismissible fade show" role="alert">
            <span>@TempData["Success"]</span>
        </div>
    }
</div>
<div class="row panel-container">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Template.Id" />
            <div class="form-group">
                <label asp-for="Template.Code" class="control-label small"></label>
                <input asp-for="Template.Code" class="form-control form-control-sm" disabled />
                <span asp-validation-for="Template.Code" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Template.Name" class="control-label small"></label>
                <input asp-for="Template.Name" class="form-control form-control-sm" disabled />
                <span asp-validation-for="Template.Name" class="text-danger small"></span>
            </div>
            <div class="form-group" style="display:none;">
                <input type="submit" id="btnSave" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
