@page
@model EditModel
@{
    ViewData["Title"] = Localizer["Edit Entity"];
    ViewData["ActiveMainPage"] = "Entities";
    ViewData["Level1"] = "Admin";
}
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h5 class="card-title">@Localizer["Entity Info"]</h5>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <partial name="_EditEntityDetails" model="Model.Entity" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                <a asp-page="Index" class="btn btn-secondary">@Localizer["Cancel"]</a>
                <button type="submit" class="btn btn-success">@Localizer["Save changes"]</button>
            </p>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}