@using Models
@model ProjectViewModel

<div class="card">
    <h5 class="card-header"><span style="background-color: var(--bs-card-cap-bg);">@Localizer["Project Info"]</span><br></h5>
    <div class="card-body">
        <input type="hidden" asp-for="@Model.Id" name="Id" />
        <partial name="_EditProjectDetails" model="Model" />        
    </div>
</div>

<br /><partial name="_OfferingHistoryList" model="Model" />