@using Models
@model MainModulePlaceHolderViewModel
@if (ViewData["Message"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["Message"]
    </div>
}
<form method="post" asp-area="AreaPlaceHolder" asp-page="Delete" asp-page-handler="Delete">
    <input name="ShouldClose" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    Template:[InsertNewDeleteField]    
    <input type="hidden" asp-for="@Model.Id" />
</form>
