@using Models
@model CompanyViewModel

<div class="card">
    <h5 class="card-header"><span class="card-header-custom">@Localizer["Company"]</span><br></h5>
    <div class="card-body">
        <input type="hidden" asp-for="@Model.Id" name="Id" />
        <partial name="_EditCompanyDetails" model="Model" />        
    </div>
</div>

<br /><partial name="_DepartmentList" model="Model" />