<script asp-add-nonce>
    $(document).ready(function () {
        $.bindAddressDropdown = function(provinceElem, cityElem, citySelectedElem)
        {
            $.updateCityDropdown(provinceElem,cityElem, citySelectedElem);
            $(provinceElem).on("change", function() {
                let provinceVal = $(this).val();
                $.updateCityDropdown(provinceElem,cityElem, citySelectedElem);
            });
        }
        $.updateCityDropdown = function(provinceElem, cityElem, citySelectedElem)
        {
            let e_sel = $(cityElem);
            $.ajax({
                type: "GET",
                url: '@Url.Page("/Address/Index", new { area = "ELMS", handler = "DropdownCities" })',
                contentType: "application/json; charset=utf-8",
                data: { province: $(provinceElem).val(), },
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(d) {
                    if (!d) return;
                    e_sel.children("option").remove();
                    e_sel.append(`<option value=''>- Select City/Municipality -</option>`);
                    d.forEach(function(o) {                     
                        if(o.value == $(citySelectedElem).val())
                        {
                            e_sel.append(`<option value='${o.value}' selected>${o.text}</option>`);
                        }
                        else
                        {
                            e_sel.append(`<option value='${o.value}'>${o.text}</option>`);
                        }
                    });
                },
            });            
        }
    });
</script>
