<script asp-add-nonce>
    $(document).ready(function () {
        $.bindBusinessNatureDropdown = function(businessNatureElem,businessNatureSubItemElem, businessNatureSubItemSelectedElem ,businessNatureCategoryElem, businessNatureCategorySelectedElem)
        {            
            $.updateBusinessNatureSubItemDropdown($(businessNatureElem).val(),businessNatureSubItemElem, businessNatureSubItemSelectedElem ,businessNatureCategoryElem, businessNatureCategorySelectedElem);           
            $.updateBusinessNatureCategoryDropdown(businessNatureSubItemElem,businessNatureCategoryElem, businessNatureCategorySelectedElem);
            $(businessNatureElem).on("change", function() {
                let businessNatureVal = $(this).val();
                $.updateBusinessNatureSubItemDropdown(businessNatureVal,businessNatureSubItemElem, businessNatureSubItemSelectedElem ,businessNatureCategoryElem, businessNatureCategorySelectedElem);
                $.updateBusinessNatureCategoryDropdown(businessNatureSubItemElem,businessNatureCategoryElem, businessNatureCategorySelectedElem);
            });
            $(businessNatureSubItemElem).on("change", function() {
                let businessNatureSubItemVal = $(this).val();
                $.updateBusinessNatureCategoryDropdown(businessNatureSubItemElem,businessNatureCategoryElem, businessNatureCategorySelectedElem);
            });
        }
        $.updateBusinessNatureSubItemDropdown = function(businessNatureVal, businessNatureSubItemElem, businessNatureSubItemSelectedElem ,businessNatureCategoryElem, businessNatureCategorySelectedElem)
        {
            if($(businessNatureSubItemSelectedElem).length > 0)
            {
                let e_sel = $(businessNatureSubItemElem);
                $.ajax({
                    type: "GET",
                    url: '@Url.Page("/BusinessNatureSubItem/Index", new { area = "ELMS", handler = "DropdownBusinessNatureSubItem" })',
                    contentType: "application/json; charset=utf-8",
                    data: { businessNature: businessNatureVal, },
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function(d) {
                        if (!d) return;
                        e_sel.children("option").remove();
                        e_sel.append(`<option value=''>- Select Classification -</option>`);
                        d.forEach(function(o) {
                            if(o.value == $(businessNatureSubItemSelectedElem).val())
                            {
                                e_sel.append(`<option value='${o.value}' selected>${o.text}</option>`);
                            }
                            else
                            {
                                e_sel.append(`<option value='${o.value}'>${o.text}</option>`);
                            }
                        });
                    },
                });
                $.updateBusinessNatureCategoryDropdown(businessNatureSubItemElem, businessNatureCategoryElem, businessNatureCategorySelectedElem);
                $(businessNatureSubItemElem).select2({
                    placeholder: "- Select Classification -",
                    allowClear: true,
                    escapeMarkup: function (m) {
                        return m;
                    }
                });
            }
        }
        $.updateBusinessNatureCategoryDropdown = function(businessNatureSubItemElem ,businessNatureCategoryElem, businessNatureCategorySelectedElem)
        {           
            if($(businessNatureCategorySelectedElem).length > 0)
            {               
                let e_sel = $(businessNatureCategoryElem);
                $.ajax({
                    type: "GET",
                    url: '@Url.Page("/BusinessNatureCategory/Index", new { area = "ELMS", handler = "DropdownBusinessNatureCategory" })',
                    contentType: "application/json; charset=utf-8",
                    data: { businessNatureSubItem: $(businessNatureSubItemElem).val(), },
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function(d) {
                        if (!d) return;
                        e_sel.children("option").remove();
                        e_sel.append(`<option value=''>- Select Category -</option>`);
                        d.forEach(function(o) {
                            if(o.value == $(businessNatureCategorySelectedElem).val())
                            {                           
                                e_sel.append(`<option value='${o.value}' selected>${o.text}</option>`);
                            }
                            else
                            {
                                e_sel.append(`<option value='${o.value}'>${o.text}</option>`);
                            }
                        });
                    },
                });
               
            }
        }
    });
</script>
