<script asp-add-nonce>
    $(document).ready(function () {
        $.bindLeadTaskDropdown = function(leadTaskElem,clientFeedbackElem, clientFeedbackSelectedElem ,nextStepElem, nextStepSelectedElem)
        {            
            $.updateClientFeedbackDropdown(leadTaskElem,clientFeedbackElem, clientFeedbackSelectedElem ,nextStepElem, nextStepSelectedElem);           
            $.updateNextStepDropdown(leadTaskElem, clientFeedbackElem,nextStepElem, nextStepSelectedElem);
            $(leadTaskElem).on("change", function() {                
                $.updateClientFeedbackDropdown(leadTaskElem,clientFeedbackElem, clientFeedbackSelectedElem ,nextStepElem, nextStepSelectedElem);
                $.updateNextStepDropdown(leadTaskElem, clientFeedbackElem,nextStepElem, nextStepSelectedElem);
            });
            $(clientFeedbackElem).on("change", function() {
                let clientFeedbackVal = $(this).val();
                $.updateNextStepDropdown(leadTaskElem, clientFeedbackElem,nextStepElem, nextStepSelectedElem);
            });
        }
        $.updateClientFeedbackDropdown = function(leadTaskElem, clientFeedbackElem, clientFeedbackSelectedElem ,nextStepElem, nextStepSelectedElem)
        {
            if($(clientFeedbackSelectedElem).length > 0)
            {
                let e_sel = $(clientFeedbackElem);
                $.ajax({
                    type: "GET",
                    url: '@Url.Page("/ClientFeedback/Index", new { area = "ELMS", handler = "DropdownClientFeedback" })',
                    contentType: "application/json; charset=utf-8",
                    data: { leadTask:  $(leadTaskElem).val(), },
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function(d) {
                        if (!d) return;
                        e_sel.children("option").remove();
                        e_sel.append(`<option value=''>- Select Client Feedback -</option>`);
                        d.forEach(function(o) {
                            if(o.value == $(clientFeedbackSelectedElem).val())
                            {
                                e_sel.append(`<option value='${o.value}' selected>${o.text}</option>`);
                            }
                            else
                            {
                                e_sel.append(`<option value='${o.value}'>${o.text}</option>`);
                            }
                        });
                    },
                });
                $.updateNextStepDropdown(leadTaskElem, clientFeedbackElem, nextStepElem, nextStepSelectedElem);
                $(clientFeedbackElem).select2({
                    placeholder: "- Select Client Feedback-",
                    allowClear: true,
                    escapeMarkup: function (m) {
                        return m;
                    }
                });
            }
        }
        $.updateNextStepDropdown = function(leadTaskElem, clientFeedbackElem ,nextStepElem, nextStepSelectedElem)
        {           
            if($(nextStepSelectedElem).length > 0)
            {               
                let e_sel = $(nextStepElem);
                $.ajax({
                    type: "GET",
                    url: '@Url.Page("/NextStep/Index", new { area = "ELMS", handler = "DropdownNextStep" })',
                    contentType: "application/json; charset=utf-8",
                    data: { leadTask: $(leadTaskElem).val(), clientFeedback: $(clientFeedbackElem).val(), },
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function(d) {
                        if (!d) return;
                        e_sel.children("option").remove();
                        e_sel.append(`<option value=''>- Select Next Step -</option>`);
                        d.forEach(function(o) {
                            if(o.value == $(nextStepSelectedElem).val())
                            {                           
                                e_sel.append(`<option value='${o.value}' selected>${o.text}</option>`);
                            }
                            else
                            {
                                e_sel.append(`<option value='${o.value}'>${o.text}</option>`);
                            }
                        });
                    },
                });
               
            }
        }
    });
</script>
