@page
@model CompanyPL.ProjectPL.Web.Areas.ProjectPL.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["ActiveMainPage"] = "Dashboard";
    ViewData["Level1"] = "Dashboard";   
}
@section Styles {
    <partial name="_DataTableStyles" />
}

<div id="PartialLoaderContainer">
    <partial name="_Chart" model="@Model.ReportList" />
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_ChartBuilderScripts" />
    <script asp-add-nonce>
        $(document).ready(function () {
            function RefreshChart() {
                var reportCount = $('#ReportListCount').val();
                for (let idx = 0; idx < reportCount; idx++) {
                    var domId = $('#ReportList_' + idx + '_DomId').val();
                    var reportName = $('#ReportList_' + idx + '_ReportName').val();
                    var reportOrChartType = $('#ReportList_' + idx + '_ReportOrChartType').val();
                    var columnHeaders = $('#ReportList_' + idx + '_ColumnHeaders').val();
                    var results = $('#ReportList_' + idx + '_Results').val();
                    var displayLegend = $('#ReportList_' + idx + '_DisplayLegend').val();
                    var isPercentage = $('#ReportList_' + idx + '_IsPercentage').val();
                    $.BuildChart(domId, reportName, reportOrChartType, JSON.parse(columnHeaders), JSON.parse(results), displayLegend, isPercentage);
                }
            }       
            RefreshChart();
        });
    </script>
}