@model ProjectNamePlaceHolder.Application.Models.MainModulePlaceHolder.MainModulePlaceHolderModel
@using ProjectNamePlaceHolder.Web.Pages.MainModulePlaceHolder
<div class="row panel-container">
    <div class="col-md-12">
        Template:[InsertNewViewField]    
    </div>
</div>

<script type="text/javascript">   
</script>