@model ProjectNamePlaceHolder.Application.Models.MainModulePlaceHolder.MainModulePlaceHolderModel
<div class="row panel-container">
    <div class="col-md-12">      
        Template:[InsertNewViewField]    
    </div>
</div>
