@section Styles {
    @RenderSection("Styles", required: false)
}

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = Localizer["Manage user"];
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
