@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
    Layout = "_Layout";
}

<p class="login-box-msg">Thank you for confirming your email change. Please <a asp-page="./Login">click here to log in</a>.</p>
