@using Models
@model ReportColumnHeaderViewModel

<div class="card">
    <h5 class="card-header"><span class="card-header-custom">@Localizer["Column Header"]</span><br></h5>
    <div class="card-body">
        <input type="hidden" asp-for="@Model.Id" name="Id" />
        <partial name="_EditReportColumnHeaderDetails" model="Model" />        
    </div>
</div>

<br /><partial name="_ReportColumnDetailList" model="Model" />