@using Models
@model MainModulePlaceHolderViewModel
<input type="hidden" id="SubDetailNamePlaceHolderCount" value="@Model?.SubDetailNamePlaceHolderList?.Count" />
<div class="card">
    <h5 class="card-header"><span  class="card-header-custom">@Localizer["SubDetailDescriptionPlaceHolder"]</span><br></h5>
    <div class="card-body" style="overflow:auto;">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
            @if (Model?.SubDetailNamePlaceHolderList != null)
            {
                int counter = 0;
                foreach (var item in Model.SubDetailNamePlaceHolderList)
                {
                    <input type="hidden" name="SubDetailNamePlaceHolderList[@counter].Id" value="@item.Id" />
                    <input type="hidden" name="SubDetailNamePlaceHolderList[@counter].SubDetailForeignKeyPlaceHolder" value="@item.SubDetailForeignKeyPlaceHolder" />
                    Template:[InsertNewSubDetailListName]
                    counter++;
                }
            }
        </div>
    </div>
</div>
