@{ 
    var Id = ViewData["Id"];
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="overview" href="/Admin/Roles/@(Id)">@Localizer["Overview"]</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PermissionsNavClass(ViewContext)" id="permissions" href="/Admin/Roles/@(Id)/Permissions">@Localizer["Permissions"]</a></li>
</ul>
