@using Models
@model MainModulePlaceHolderViewModel

<form method="post" asp-area="AreaPlaceHolder" asp-page="Add" asp-page-handler="Add">
    <partial name="_MainModulePlaceHolderDetails" model="Model" />
</form>
