@using Models
@model ReportFilterGroupingViewModel

<div class="card">
    <h5 class="card-header"><span class="card-header-custom">@Localizer["Filter Grouping"]</span><br></h5>
    <div class="card-body">
        <input type="hidden" asp-for="@Model.Id" name="Id" />
        <partial name="_EditReportFilterGroupingDetails" model="Model" />        
    </div>
</div>

<br /><partial name="_ReportColumnFilterList" model="Model" />