@using Models
@model InventoryViewModel

<div class="card">
    <h5 class="card-header"><span style="background-color: var(--bs-card-cap-bg);">@Localizer["Inventory Info"]</span><br></h5>
    <div class="card-body">
        <input type="hidden" asp-for="@Model.Id" name="Id" />
        <partial name="_EditInventoryDetails" model="Model" />        
    </div>
</div>

<br /><partial name="_InventoryHistoryList" model="Model" />
<br /><partial name="_OrderItemList" model="Model" />