@page
@model EditModel
@{
    ViewData["Title"] = Localizer["Edit Project"];
    ViewData["ActiveMainPage"] = "Projects";
    ViewData["Level1"] = "Inventory";
}
<form id="project-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-header d-flex">
                    <div class="card-title flex-grow-1">
                        <button class="btn btn-block text-left text-black p-0" type="button" data-card-widget="collapse">
                            <h5>@Localizer["Project Info"]</h5>
                        </button>
                    </div>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <partial name="_EditProjectDetails" model="Model.Project" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                <a asp-page="Index" class="btn btn-secondary">@Localizer["Cancel"]</a>
                <button type="submit" class="btn btn-success">@Localizer["Save changes"]</button>
            </p>
        </div>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}