@using Models
@model SectionViewModel

<div class="card">
    <h5 class="card-header"><span class="card-header-custom">@Localizer["Section"]</span><br></h5>
    <div class="card-body">
        <input type="hidden" asp-for="@Model.Id" name="Id" />
        <partial name="_EditSectionDetails" model="Model" />        
    </div>
</div>

<br /><partial name="_TeamList" model="Model" />