@page
@model IndexModel

@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Matching Beds"];
    ViewData["ActiveMainPage"] = "Dormer";
    ViewData["Level1"] = "CoLiving";
}
<div class="row">
    <div class="col-12">      
        <div class="card">           
            <div class="card-body">
                <partial name="_ViewAvailableUnits" model="Model.AvailableUnits" />
            </div>
        </div>
    </div>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
