@page
@model AddModel
@{
    ViewData["Title"] = Localizer["Add MainModuleDescriptionPlaceHolder"];
    ViewData["ActiveMainPage"] = "MainModulePlaceHolder";
    ViewData["Level1"] = "AreaPlaceHolder";
}
<form Template:[FileUploadFormEncType]id="mainModulePlaceHolder-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
	<div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.MainModulePlaceHolder" />
    </div>    
    <div class="row">
        <div class="col-12">
            <p>
                <a asp-page="Index" class="btn btn-secondary">@Localizer["Cancel"]</a>
                <button type="submit" class="btn btn-success">@Localizer["Save changes"]</button>
            </p>
        </div>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
Template:[NewSubDetailFieldValidationPartialJavascript]
<script asp-add-nonce>
    $(document).ready(function () {
		function InitializeForm()
		{
			$('.DisableSelectDropdown').on('mousedown', function(e) {
				e.preventDefault();
				this.blur();
				window.focus();
			});
			Template:[AddRemoveItemAndSelect2Javascript]
		}	
		InitializeForm();
    });
</script>
}