@using Models
@model MainModulePlaceHolderViewModel

<form method="post" asp-area="ProjectNamePlaceHolder" asp-page="Edit" asp-page-handler="Edit">
    <partial name="_MainModulePlaceHolderDetails" model="Model" />
</form>
