@using Models
@model LeadTaskClientFeedBackViewModel

<div class="card">
    <h5 class="card-header"><span style="background-color: var(--bs-card-cap-bg);">@Localizer["LeadTaskClientFeedBack Info"]</span><br></h5>
    <div class="card-body">
        <input type="hidden" asp-for="@Model.Id" name="Id" />
        <partial name="_EditLeadTaskClientFeedBackDetails" model="Model" />        
    </div>
</div>
