<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="Title" value="Sales Upload"/>
		<add key="DefaultClientId" value="d83c4733-6c38-418f-b4a2-baffa07c39ac"/>
		<add key="DefaultClientSecret" value="acc3093d-c69c-4ccb-9712-1ab0fddda0e4"/>
		<add key="DefaultIntegrationId" value="EE4E0DE0-4E7D-4072-B206-34B2BCEAF6E4"/>
		<add key="DefaultFilePath" value="C:\SalesUpload"/>
	</appSettings>
</configuration>