<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="GrantType" value="client_credentials"/>
		<add key="ClientId" value="d83c4733-6c38-418f-b4a2-baffa07c39ac"/>
		<add key="ClientSecret" value="acc3093d-c69c-4ccb-9712-1ab0fddda0e4"/>
		<add key="IntegrationId" value="EE4E0DE0-4E7D-4072-B206-34B2BCEAF6E4"/>
		<add key="Scope" value="openid offline_access email profile roles tenantsalespublic_api tenantsalesinternal_api Permission.TenantPOSSales.UploadSalesFile"/>
		<add key="AuthenticationUrl" value="https://tenantsales.filinvest.com.ph"/>
		<add key="TenantSalesApiUrl" value="https://tenantsales.filinvest.com.ph:44311"/>
		<add key="AuthenticationUrlPrivate" value="http://10.120.10.134:8081"/>
		<add key="TenantSalesApiUrlPrivate" value="https://10.120.10.134:8082"/>
		<add key="ApiVersion" value="1"/>
		<add key="FilePath" value="C:\SalesUpload"/>
	</appSettings>
</configuration>