

.Report_TableHeader {
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
}

.Align-Right {
    text-align: right;
}

.Align-Left {
    text-align: left;
}

.Align-Center {
    text-align: center;
}

.ReportBorder {
    outline: 1px solid #000;
}

.ReportDoubleBorderTop {
    border-top: 1px double #000 !important;
}

.NoBorder {
    outline: none;
}


.RotativaReportTable tbody td {
    padding: 5px;
}

.ReportItemIndent {
    text-indent: 20px;
}

table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}

.table-group-header {
    page-break-before: always;
}

.RotativaReportTable .ItemBorder td {
    outline: 1px solid #000;
}
