/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Write your CSS code.*/

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
.custom-checkbox-label {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    margin-left: 10px;
	margin-top: 13px;
}
.fieldrequired::after {
    content: " *";
    font-weight: bold;
    color: red;
}
.select2-container {
    width: 100%;
}
