@page
@using CTI.TenantSales.Web.Areas.Reports.Models;
@model CTI.TenantSales.Web.Areas.Reports.Pages.DailySales.IndexModel
@{
    ViewData["Title"] = Localizer["Daily Sales Report"];
    ViewData["ActiveMainPage"] = "DailySales";
    ViewData["Level1"] = "Reports";
}
<form id="dailysales-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.Input" />
    </div>    
</form>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script asp-add-nonce>
    $(document).ready(function () {
        function InitializeForm()
        {
            $('#ProjectId, #Year').on( 'change', function () {
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#dailysales-form', InitializeForm);
            });
        }
        InitializeForm();
    });
</script>
}