@using Models
@model EnrolledPayeeViewModel

<div class="card">
    <h5 class="card-header"><span style="background-color: var(--bs-card-cap-bg);">@Localizer["Enrolled Payee Info"]</span><br></h5>
    <div class="card-body">
        <input type="hidden" asp-for="@Model.Id" name="Id" />
        <input type="hidden" asp-for="@Model.DisableFields" name="DisableFields" />
        <partial name="_EditEnrolledPayeeDetails" model="Model" />
    </div>
</div>
<br />
<partial name="_EnrolledPayeeEmailList" model="Model" />