<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="DefaultConnectionString" value="Data Source=172.18.5.49;Initial Catalog=FAI_SDG_PplusV3_1_Train;Persist Security Info=True;User ID=mgr;Password=mgr"/>
		<add key="SMTPClient" value="smtp-mail.outlook.com"/>
		<add key="SMTPPort" value="587"/>
		<add key="SMTPUseCredential" value="True"/>
		<add key="Environment" value="Train"/>
		<add key="BCCEmail" value="fai.soapdf@gmail.com"/>
		<add key="ExportFolderDir" value="C:\SOA-PDF Export Folder\TRAIN-FAIV31"/>
		<add key="TestEmails" value="sam.amor@corptech.it,robert.pons@corptech.it,claire.edrozo@corptech.it"/>
		<add key="DefaultRecipientIfNoClientEmail" value="fai.soapdf@gmail.com"/>
		<add key="MaxSOACountToProcess" value="3"/>
	</appSettings>
</configuration>