@using Models
@model LeadTaskViewModel

<div class="card">
    <h5 class="card-header"><span style="background-color: var(--bs-card-cap-bg);">@Localizer["LeadTask Info"]</span><br></h5>
    <div class="card-body">
        <input type="hidden" asp-for="@Model.Id" name="Id" />
        <partial name="_EditLeadTaskDetails" model="Model" />        
    </div>
</div>

<br /><partial name="_LeadTaskClientFeedBackList" model="Model" />
<br /><partial name="_LeadTaskNextStepList" model="Model" />
