<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Server=10.120.10.131;Initial Catalog=tenantsales_live;Persist Security Info=False;User ID=elms;Password=3lm$@2022weR;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;"/>
		<add key="SourceFilePath" value="\\fsi-ihapps.ad-fsi.com\salesUpload"/>
		<add key="DestinationFilePath" value="D:\TenantSales_Live\SalesUpload"/>
	</appSettings>
</configuration>
