<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="GroupApps" value="https://pkgs.dev.azure.com/CorpTechInc/2c0a98bf-6c88-4c77-b2d4-7dc85e26fba6/_packaging/GroupApps/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>