@using Models
@model ReportViewModel

<div class="row">
    <div class="col-12">
        <div class="card card-outline card-primary">
            <div class="card-header d-flex">
                <div class="card-title flex-grow-1">
                    <button class="btn btn-block text-left text-black p-0" type="button" data-card-widget="collapse">
                        <h5>@Localizer["Report Info"]</h5>
                    </button>
                </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <input type="hidden" asp-for="@Model.Id" name="Id" />
                <input type="hidden" asp-for="@Model.LatestFileGeneratedPath" name="Id" />
                <div class="row">
                    <partial name="_EditReportDetails" model="Model" />
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_ReportDetailList" model="Model" />
<partial name="_MailSettingItem" model="Model" />
<partial name="_MailRecipientList" model="Model" />
<partial name="_ReportScheduleSettingList" model="Model" />
<partial name="_CustomScheduleList" model="Model" />
