@using Models
@model UploadStagingViewModel

<div class="card">
    <h5 class="card-header"><span class="card-header-custom">@Localizer["Upload Staging"]</span><br></h5>
    <div class="card-body">
        <input type="hidden" asp-for="@Model.Id" name="Id" />
        <partial name="_EditUploadStagingDetails" model="Model" />        
    </div>
</div>
